&:root {
	--color-primary: #E07B39;
	--color-accent-1: #E6E18F;
	--color-accent-2: #FEFCAD;
	--color-dark: #242325;
	--color-light: #FAFAF8;
	--color-complementary: #399EE0;
	--color-analogous-1: #D65A31;
	--color-analogous-2: #F0A74A;
	--color-analogous-accent: #D2E68F;
	--color-tertiary-1: #7B39E0;
	--color-tertiary-2: #39E07B;
	--color-tertiary-3: #39C4E0;
}
